<div class="container">
    <h1>User Registration</h1>
    {{#each errors}}
    <div class="alert alert-danger">
        {{this}}
    </div>
    {{/each}}
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" name="username" onkeyup="ck_timeout()" autocomplete="off" autofocus="autofocus" />
            <div id="resultsUsername"></div>
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input class="form-control" id="firstname" name="firstname" />
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input class="form-control" id="lastname" name="lastname" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" name="password" />
        </div>
        <div class="form-group">
            <label for="passwordConf">Password Confirmation</label>
            <input class="form-control" id="passwordConf" type="password" name="passwordConf" onkeyup='pass();' autocomplete="off" autofocus="autofocus"/>
            <div id="resultsPassword"></div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-primary" href="home">Cancel</a>
    </form>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/active.js"></script>
